.about {
  text-align: center;
  padding: 40px;
}

.about p {
  margin-left: 20px;
  text-align: justify;
  padding: 20px;
}

.about img {
  box-shadow: 2px 1px 14px 0px rgba(0, 0, 0, 0.75);
  border-radius: 5px;
  object-fit: cover;
}

.portfolio {
  text-align: center;
  padding: 40px;
}
.blog {
  text-align: center;
  padding-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.blog p {
  text-align: justify;
  padding: 20px;
}

.team {
  text-align: center;
}

.team p {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  width: 100%;
}

.contact {
  text-align: right;
  padding-right: 20px;
}

.contact p {
  text-align: right;
  padding-right: 0;
  height: 100%;
  text-decoration: none;
  color: blanchedalmond;
}

footer h5 {
  text-align: center;
  margin-top: 0;
  padding-top: 0;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 10;
}
